.toplink {
    color: rgb(56, 74, 98);
    font-weight: 500;
}
@media screen and (max-width: 768px) {
  .Nigeria {
    display: block;
  }
  .whatsapp {
    display: block;
  }
  .numbers {
    display: block;
  }
  .help {
    display: none;
  }
  .track {
    display: none;
  }
  .discover {
    display: none;
  }
  .cost {
    display: none;
  }
}