.toplink {
    color: rgb(56, 74, 98);
    font-weight: 500;
}
@media screen and (max-width: 768px) {
  ul li a .Nigeria {
    display: block;
  }
  ul li a .whatsapp {
    display: block;
  }
  ul li a .numbers {
    display: block;
  }
  ul li .help {
    display: none;
  }
  ul li a .track {
    display: none;
  }
  ul li a .discover {
    display: none;
  }
  ul li a .cost {
    display: none;
  }
}